* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* custom scrollbar */
.customscroll {
  height: 100%;
  max-height: calc(100vh - 205px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: red !important;
}
.customscroll::-webkit-scrollbar {
  width: 5px;
}

/* custom scrollbar */
.customscrollgeneral {
  scrollbar-width: thin;
  scrollbar-color: red !important;
}
.customscrollgeneral::-webkit-scrollbar {
  width: 5px;
}

.active_link {
  color: black !important;
  font-weight: 700;
}

.owl-dot.active span {
  background: #fcc82b !important;
}
.owl-dot span {
  background: lightgray !important;
  width: 60px !important;
  height: 2px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  position: absolute;
  top: -40px;
  left: 40%;
}

@media (max-width: 750px) {
  .owl-dot span {
    width: 40px !important;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    left: 28%;
  }
}

.ppp {
  color: red;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #383636; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* .cart-item {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -10px;
  right: -10px;
}
.cart-item::before {
  display: block;
  content: "1";
  line-height: 24px;
  height: 24px;
  width: 24px;
  font-size: 12px;
  font-weight: 600;
  background: #2bd156;
  color: white;
  border-radius: 20px;
  text-align: center;
}
.send-to-cart.cart-item {
  display: block;
  animation: xAxis 1s forwards cubic-bezier(0.29, 0.96, 0.96, 0.96);
}

.send-to-cart.cart-item::before {
  top: 0%;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.54, 2);
}

.shake {
  animation: shakeCart 0.4s ease-in-out forwards;
}

@keyframes xAxis {
  100% {
    transform: translateX(calc(100vw - 150px));
  }
}

@keyframes yAxis {
  100% {
    transform: translateY(-104px);
  }
}

@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
} */
